{% extends 'base_2.html' %}

{% block content %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">liste des frais accadémique</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Gestion Caisse</a></li>
                    <li class="breadcrumb-item active">Frais accadémique</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->


<!-- Striped Rows -->
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Customer</th>
        <th scope="col">Date</th>
        <th scope="col">Invoice</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Bobby Davis</td>
        <td>Nov 14, 2021</td>
        <td>$2,410</td>
        <td><span class="badge badge-soft-success">Confirmed</span></td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Christopher Neal</td>
        <td>Nov 21, 2021</td>
        <td>$1,450</td>
        <td><span class="badge badge-soft-warning">Waiting</span></td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td>Monkey Karry</td>
        <td>Nov 24, 2021</td>
        <td>$3,500</td>
        <td><span class="badge badge-soft-success">Confirmed</span></td>
    </tr>
    <tr>
        <th scope="row">4</th>
        <td>Aaron James</td>
        <td>Nov 25, 2021</td>
        <td>$6,875</td>
        <td><span class="badge badge-soft-danger">Cancelled</span></td>
    </tr>
    </tbody>
</table>


{% endblock %}