{% extends 'base_2.html' %}

{% block content %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">liste des Remboursements</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Gestion Caisse</a></li>
                    <li class="breadcrumb-item active">Remboursements</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->


<div class="table-responsive table-card">
    <table class="table table-nowrap table-striped-columns mb-0">
        <thead class="table-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Total</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="#" class="fw-semibold">#VL2110</a></td>
            <td>William Elmore</td>
            <td>07 Oct, 2021</td>
            <td>$24.05</td>
            <td><span class="badge bg-success">Paid</span></td>
        </tr>

        <tr>
            <td><a href="#" class="fw-semibold">#VL2109</a></td>
            <td>Georgie Winters</td>
            <td>07 Oct, 2021</td>
            <td>$26.15</td>
            <td><span class="badge bg-success">Paid</span></td>
        </tr>

        <tr>

            <td><a href="#" class="fw-semibold">#VL2108</a></td>
            <td>Whitney Meier</td>
            <td>06 Oct, 2021</td>
            <td>$21.25</td>
            <td><span class="badge bg-danger">Refund</span></td>
        </tr>
        <tr>

            <td><a href="#" class="fw-semibold">#VL2107</a></td>
            <td>Justin Maier</td>
            <td>05 Oct, 2021</td>
            <td>$25.03</td>
            <td><span class="badge bg-success">Paid</span></td>
        </tr>
        </tbody>
    </table>
</div>


{% endblock %}